@import "./vendor/bootstrap/bootstrap";

/* Project specific */

/* Components*/
// main colors
$mainBG: #EFDED6;
// Nav-bar Colors
$nav-bg-color-primary: #D0021B;
$nav-text-color-primary: #000;

$footer-text-color-primary: #D0021B;

body{
  background-color: $mainBG;
  display: flex;
  flex-direction: column;
  padding: 0 30px;
}

/* Partials */
.full-screen{
  height: 100vh;
  width: 100vw;
}

/* Modules*/
// Nav
.navigation{


  &.primary{
    padding: 80px 0;
  }

  &.secondary{
    padding: 20px 0;
  }


  .main-navigation{
    border-radius: 5px;
    -webkit-box-shadow: -5px 9px 19px -8px rgba(0,0,0,0.6);
    -moz-box-shadow: -5px 9px 19px -8px rgba(0,0,0,0.6);
    box-shadow: -5px 9px 19px -8px rgba(0,0,0,0.6);

    &.primary{
      background: rgb(162,0,0);
      background: linear-gradient(90deg, rgb(190, 0, 0) 0%, rgba(208,2,13,1) 51%, rgb(190, 0, 0) 100%);
      border: solid 3px #e4848c;


    }

    &.secondary{
      background: rgb(57,133,79);
      background: linear-gradient(90deg, rgba(57,133,79,1) 0%, rgba(68,157,93,1) 50%, rgba(57,133,79,1) 100%);
      border: solid 1px #000;
    }

    .nav-link{
      font-family: "Cormorant", sans-serif;
      font-size: 24px;
      color: $nav-text-color-primary;
      padding: 0.8rem 1.5rem 0.5rem 1.5rem;
      font-weight: 600;

    }
  }
}


.main-content{
  flex-grow: 1;
  display: flex;
  align-items: center;
  justify-content: center;

  figure  {
    @extend .col-md-8;
    height: 70%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #FFF;
  }

  &.primary{
    img{
      width: 30%;
    }
  }

  &.secondary{
    img{
      max-width: 50%;
    }
  }

}

.informative{
  font-family: "Cormorant", sans-serif;
  font-size: 24px;
  font-weight: 600;
  color:$footer-text-color-primary;
  display: flex;
  justify-content: space-around;
}

.spaced{
  padding:15px 0;
}

.large-space{
  padding-top: 30px;
  margin-bottom: 30px;
}

.section{
  padding-top: 15px;
  padding-bottom: 15px;
}



// Over aanbod
.mid-page-container{
  font-family: "Cormorant", sans-serif;
padding-top: 50px;
height: 100vh;
width: 97vw;
flex-grow: 0;
}

.textoutline{
  background-color:#ECC3C7 ;
  height:100%;
}

.titel-text{
  font-size: 30px;
  font-weight: bold;
}

//Over optiwise
.row-container{
flex: 1;
padding:30px 20px 0px 20px; 
}


.text-information{
  font-size: 35px;
  background-color: #ECC3C7; ;
}

// ervaring

.ervaring-title{
  background-color: #D0021B;
  border: 5px solid #E4848C;
  border-radius: 4px;
}

.img-glasses{
  width: 250px;
  height: auto;
}

.ervaring-textbox{
  font-size: 32px;
}

.ervaring-textboxsecond{
  background-color: #ECC3C7;
}

.main-footer{

  &.primary{
    background: rgb(162,0,0);
    background: linear-gradient(90deg, rgb(190, 0, 0) 0%, rgba(208,2,13,1) 51%, rgb(190, 0, 0) 100%);
    border: solid 3px #e4848c;
  }

  &.secondary{
    background: rgb(57,133,79);
    background: linear-gradient(90deg, rgba(57,133,79,1) 0%, rgba(68,157,93,1) 50%, rgba(57,133,79,1) 100%);
    border: solid 1px #000;
  }

  margin: 15px 0 30px 0;
  border-radius: 5px;
  -webkit-box-shadow: -5px 9px 19px -8px rgba(0,0,0,0.6);
  -moz-box-shadow: -5px 9px 19px -8px rgba(0,0,0,0.6);
  box-shadow: -5px 9px 19px -8px rgba(0,0,0,0.6);

  > *{
   padding: 0.8rem 1.5rem 0.5rem 1.5rem;
 }
}


.cropped {
  width: 100%; /* width of container */
  height: 350px; /* height of container */
  overflow: hidden;
}

.cropped img {
  width: 100%;
  object-fit: cover;
  object-position: 0px -525px;
  //width: 100%;
}
