@import "./vendor/bootstrap/bootstrap";

/* Project specific */

/* Components*/
// main colors
$mainBG: #EFDED6;
// Nav-bar Colors
$nav-bg-color-primary: #D0021B;
$nav-text-color-primary: #000;

$footer-text-color-primary: #D0021B;

/* Partials */
.full-screen{
  background-color: $mainBG;
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
}

/* Modules*/
// Nav
.navigation{
  padding: 80px 30px 0 30px;

  .main-navigation{
    background: rgb(162,0,0);
    background: linear-gradient(90deg, rgb(190, 0, 0) 0%, rgba(208,2,13,1) 51%, rgb(190, 0, 0) 100%);
    border-radius: 5px;
    border: solid 3px #e4848c;
    -webkit-box-shadow: -5px 9px 19px -8px rgba(0,0,0,0.6);
    -moz-box-shadow: -5px 9px 19px -8px rgba(0,0,0,0.6);
    box-shadow: -5px 9px 19px -8px rgba(0,0,0,0.6);

    .nav .nav-pills{

    }

    .nav-link{
      font-family: "Cormorant", sans-serif;
      font-size: 24px;
      color: $nav-text-color-primary;
      padding: 0.8rem 1.5rem 0.5rem 1.5rem;
      font-weight: 600;

    }
  }
}


.main-content{
  flex-grow: 1;
  display: flex;
  align-items: center;
  justify-content: center;


  figure  {
    @extend .col-md-8;
    height: 70%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #FFF;
  }

  img{
    width: 30%;
  }
}

.informative{
  font-family: "Cormorant", sans-serif;
  font-size: 24px;
  font-weight: 600;
  color:$footer-text-color-primary;
  display: flex;
  justify-content: space-around;
}
