.index-body{
    font-family:'Amatic SC';
    font-size: 40px;
    font-weight: bold;;
    display: flex;
    height:100vh;
    background-color:$mainBG;
    padding:0;
    margin: 0;
}

/* flex container index html */
.flex-container{
    display: flex;
    /* flex-direction: row; */
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    padding-left: 10px;
    padding-right: 10px;
}

.flex-row{
    display: flex;
}


.flex-column{
    flex-grow: 1;
    align-content: center;
}


.flex-column> div{
    text-align: center;
    padding: 10px;
}

.responsive{
    width: 100%;
    height: auto;
}


img.responsive{
   max-width: 100%;
}


#primary, #secondary{
    display: flex;
    flex-direction: column;
    border: 4px solid;
    border-radius: 3px;
    margin-left: 10px;
    margin-right: 10px;
    flex-grow: 1;

    .article{
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
}

#primary{
    border-color: #FF4836;
    flex-grow: 3;

    .image-container{
        margin:70px 10px 0px 10px;
    }
}

#secondary{
    border-color: #D0021B;
    flex-grow: 1;
    background-color: white;
    .article{
        margin-bottom: 10px;
    }
    img{
        width: 50%;
    }
}

a.button{
    text-decoration: none;
    color: #000;
    border: 2px solid ;
    display: inline-block;
    background-color:$mainBG;
    padding: 20px;

    &:hover{
        text-decoration: underline;
    }

    &.primary{
        border-color: #FF4836;
    }
    &.secondary{
        border-color: #D0021B;
    }
}

.article{
flex-grow: 1;
}

.image-container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-grow: 2;
    margin:100px 10px 0px 10px;

    img{
        display: inline-block;
    }
}

.spacer{
    height: 100px;
}